<html>
	<body class="landing">
		<div id="page-wrapper">
			<!-- Banner -->
				<section id="banner">
					<h2>MakeMyRide</h2>
					<p>Find a companion for your ride and share the cost.<br>
					Login below</p>
					<ul class="actions">
						<li><a href="/users/sign_in" class="button special">User</a></li>
						<li><a href="#" class="button">Operator</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the All-in-one car pooling solution.
							<br />
							</h2>
							<p>Need a ride and a campanion for the trip? Have a ride to offer?<br />
							Or you need a regular ride to office? This is your one stop portal.</p>
						</header>
						<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
					</section>
					
					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Have a ride to offer?</h3>
								<p>Make your journey affordable and fun, by raising an availability request. We will let you know if we find a companion for you!</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Need a single-journey ride?</h3>
								<p>Find the people offering a ride and book your seats, even at the last minute hassle-free!</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Need a regular ride?</h3>
								<p>Find a ride and companions for your regular travel to office or home. Raise a request and we will find you a ride.</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Are you a cab operator?</h3>
								<p>If you would like to promote ridesharing as an economical and practical transport alternative, register with us.</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Why you should share a ride?</h3>
								<p>Ridesharing is the most economical and pragmatic mode of travel in the bustling lives of citizens of a metropolitan like Delhi, Mumbai, Banglore et cetera.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Why MakeMyRide?</h3>
								<p>Offering a solution to commuters without a private mode of conveyance, MakeMyRide is a one-stop portal for all your ridesharing needs.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Sign up for Offers</h2>
					<p>Interested in MakeMyRide's exclusive offers? Enter your email below and get riding.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>
		</div>
	</body>

</html>